<div>
   
   <div class="sidebar close" [class.open]="isOpen">
      <div class="lefttitle">
         <p>Navigator</p>
     </div>
      <ng-template #nodeTemplate let-nodes="nodes" let-tree="tree">
         
         <ng-container *ngFor="let node of nodes">
            <div class="menu-node" [ngClass]=" { 'menu-node-tree' : tree }">
               <div (click)="toggleVisible(node)" class="menu-node-button" [ngClass]="{
                 'menu-node-button-show': node.submenu && node.submenu.length,
                 'menu-node-button-plus': !expand[node.index],
                 'menu-node-button-minus': expand[node.index]
               }" role="button"></div>
               <div  class="menu-node-name" [ngClass]="{
                 'menu-node-name-selected': (node === selectedNode)
               }" (click)="selectNode(node)"><img class="sideimg-width" src="{{node.thumb}}">{{ node.title }} {{ node.icon }}</div>
               <ng-container *ngIf="node.submenu && node.submenu.length && expand[node.index]">
                  <ng-template [ngTemplateOutlet]="nodeTemplate"
                     [ngTemplateOutletContext]="{ nodes: node.submenu, tree: true }">
                  </ng-template>
               </ng-container>
            </div>
         </ng-container>
      </ng-template>

      <ng-template [ngTemplateOutlet]="nodeTemplate" [ngTemplateOutletContext]="{ nodes: menu, tree: false }">
      </ng-template>

      <!-- context-menu.component.html -->

 
   </div>
</div>

<!-- context-menu.component.html -->
<!-- <div *ngIf="isMenuVisible" [ngStyle]="{'top.px': menuPosition.y, 'left.px': menuPosition.x}" class="context-menu">
   <ul>
     <li (click)="onMenuItemClick('Restart')"><img class="right-clk-img" src="assets/images/rightmenu/right-cimg1.png"> Restart</li>
     <li (click)="onMenuItemClick('Restart')"><img class="right-clk-img" src="assets/images/rightmenu/right-cimg2.png">Deploy</li>
     <li (click)="onMenuItemClick('Restart')"><img class="right-clk-img" src="assets/images/rightmenu/right-cimg3.png">Switch to Backup</li>
     <li (mouseenter)="showSubMenu('sub1')" (mouseleave)="hideSubMenu('sub1')">
      <span style="margin-left: 24px;">Manage Server Machine <span class="ms-3"><i class="fa-solid fa-caret-right"></i></span> </span>
      <ul class="sub-menu" *ngIf="activeSubMenu === 'sub1'">
        <li (click)="onSubMenuItemClick('Sub Item 1')"><img class="right-clk-img" src="assets/images/rightmenu/right-cimg10.png">Remote Desktop Connection</li>
        <li (click)="onSubMenuItemClick('Sub Item 1')"><img class="right-clk-img" src="assets/images/rightmenu/right-cimg11.png">Restart Machine</li>
        <li (click)="onSubMenuItemClick('Sub Item 1')"><img class="right-clk-img" src="assets/images/rightmenu/right-cimg12.png">Install Windows Updates</li>
        <li (mouseenter)="showSubSubMenu('sub2')" (mouseleave)="hideSubSubMenu('sub2')">
          Sub Item 2
          <ul class="sub-menu" *ngIf="activeSubSubMenu === 'sub2'">
            <li (click)="onSubSubMenuItemClick('Nested Sub Item 1')"><img class="right-clk-img" src="assets/images/rightmenu/right-cimg10.png">Remote Desktop Connection</li>
            <li (click)="onSubSubMenuItemClick('Nested Sub Item 2')"><img class="right-clk-img" src="assets/images/rightmenu/right-cimg11.png">Restart Machine</li>
            <li (click)="onSubSubMenuItemClick('Nested Sub Item 3')"><img class="right-clk-img" src="assets/images/rightmenu/right-cimg12.png">Install Windows Updates</li>
          </ul>
        </li>
      </ul>
    </li>
    <div class="dropdown-divider"></div>
     <li (click)="onMenuItemClick('Restart')"><img class="right-clk-img" src="assets/images/rightmenu/right-cimg4.png">Add</li>
     <li (click)="onMenuItemClick('Restart')"><img class="right-clk-img" src="assets/images/rightmenu/right-cimg5.png">Edit</li>
     <li (click)="onMenuItemClick('Restart')"><img class="right-clk-img" src="assets/images/rightmenu/right-cimg6.png">Delete</li>
     <div class="dropdown-divider"></div>
     <li (click)="onMenuItemClick('Item 3')"><img class="right-clk-img" src="assets/images/rightmenu/right-cimg7.png">Export Configurations</li>
     <li (click)="onMenuItemClick('Restart')"><img class="right-clk-img" src="assets/images/rightmenu/right-cimg8.png">Import Configurations</li>
     <div class="dropdown-divider"></div>
     <li (click)="onMenuItemClick('Item 3')"><img class="right-clk-img" src="assets/images/rightmenu/right-cimg9.png">Refresh</li>
   </ul>
 </div> -->