
<div class="pagebody">
    <div class="container-fluid p-0">
       <div class="tableOne">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr (dblclick)="navigate('minuts-history-chart')">
                <td><span><img class="table-img" src="assets/images/sideimg/mt-icons24.png"> 1 Minute History Charts </span></td>
                <td>Manage price history provided in the form of 1 minute bars</td>
              </tr>
              <tr (dblclick)="navigate('firewall')">
                <td><span><img class="table-img" src="assets/images/sideimg/mt-icons24.png"> Bid/Ask/Last Ticks </span></td>
                <td>Manage tick data of financial instruments</td>
              </tr>
              <tr (dblclick)="navigate('synchronization')">
                <td><span><img class="table-img" src="assets/images/sideimg/mt-icons42.png"> Synchronization </span></td>
                <td>Synchronize data with other MetaTrader 4 and MetaTrader 5 servers</td>
              </tr>
            </tbody>
          </table>
       </div>
    </div>
    </div>