<div class="pagebody">
    <div class="container-fluid ">
        <div class="row bg-sky-blue-border-b">
            <div class="col-md-12 pt-3">
                <div class="flex-center-between">
                    <div>
                        <h5>Data Feeds </h5>
                        <p>Data feeds deliver quotes and news from various providers. Choose from built-in modules and App Store offerings or create custom solutions with Gateway API</p>
                    </div>
                    <div>
                        <!-- <button class="btn btn-sm btn-success">Check Live Update</button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <div class="feedcard">
                    <div style="height: 18px;">
                        <!-- <i class="fa-solid fa-circle"></i> -->
                    </div>
                    <div class="text-center">
                        <div class="imgdiv">
                            <img src="assets/images/mt5-logo.png">
                        </div>
                        <p class="mt-4 mb-1">MetaTrader 5 Demo Feeder</p>
                        <p class="f10">100 442 Ticks, 0 books</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feedcard" (click)="navigate('data-feeds-inner')">
                    <div style="height: 18px;">
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div class="text-center">
                        <div class="imgdiv">
                            <img src="assets/images/dde.png">
                        </div>
                        <p class="mt-4 mb-1">Feeder_m</p>
                        <p class="f10">0 Ticks, 0 books</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feedcard" (click)="navigate('data-feeds-inner')">
                    <div style="height: 18px;">
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div class="text-center">
                       <div class="imgdiv">
                        <img src="assets/images/mt5-logo.png">
                       </div>
                        <p class="mt-4 mb-1">NQ100</p>
                        <p class="f10">1 Ticks, 0 books</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>