<section class="login-card">
    <div class="row m-0">
        <div class="col-lg-5 col-12 m-auto">
            <div class=" login-dark">
                <div class="">
                    <div class="logo"><a class="logo" href="/signup"><img class="img-fluid for-light" src="assets/images/logo.png"
                                alt="looginpage">
                        </a>
                    </div>
                    <div class="login-main">
                        <form class="theme-form" method="post" action="/signup_home">
                            <input type="hidden" name="csrfmiddlewaretoken"
                                value="LFjUBvxkPTeZBiw9ADvHt3EpX3MAU6VkUyVSBaotio2dP2KZV2es22GfVKF4K7ma">
                            <h4>Create your account</h4>
                            <p>Enter your personal details to create account</p>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label style="font-weight: 400; font-size: 14px;" class="col-form-label">First Name</label>
                                            <input class="form-control" type="text" required="username" name="username"
                                                placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">



                                            <label  style="font-weight: 400; font-size: 14px;" class="col-form-label">Last Name</label>
                                            <input class="form-control" type="text" required="username" name="username"
                                                placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label  style="font-weight: 400; font-size: 14px;"class="col-form-label">Email Address</label>
                                        <input class="form-control" type="email" name="email" required=""
                                            placeholder="">
                                    </div>

                                </div>
                            </div>



                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="text"
                                                class="text-size-13 font-weight-400" style="font-weight: 400; font-size: 14px;">Country</label><select
                                                name="country" class="form-control mt-1 ng-pristine ng-valid ng-touched">
                                                <option _ngcontent-awu-c133="" value="-1" disabled="">Select Country
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Afghanistan">Afghanistan</option>
                                                <option _ngcontent-awu-c133="" value="Aland Islands">Aland Islands
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Albania">Albania</option>
                                                <option _ngcontent-awu-c133="" value="Algeria">Algeria</option>
                                                <option _ngcontent-awu-c133="" value="AmericanSamoa">AmericanSamoa
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Andorra">Andorra</option>
                                                <option _ngcontent-awu-c133="" value="Angola">Angola</option>
                                                <option _ngcontent-awu-c133="" value="Anguilla">Anguilla</option>
                                                <option _ngcontent-awu-c133="" value="Antarctica">Antarctica</option>
                                                <option _ngcontent-awu-c133="" value="Antigua and Barbuda">Antigua and
                                                    Barbuda</option>
                                                <option _ngcontent-awu-c133="" value="Argentina">Argentina</option>
                                                <option _ngcontent-awu-c133="" value="Armenia">Armenia</option>
                                                <option _ngcontent-awu-c133="" value="Aruba">Aruba</option>
                                                <option _ngcontent-awu-c133="" value="Australia">Australia</option>
                                                <option _ngcontent-awu-c133="" value="Austria">Austria</option>
                                                <option _ngcontent-awu-c133="" value="Azerbaijan">Azerbaijan</option>
                                                <option _ngcontent-awu-c133="" value="Bahamas">Bahamas</option>
                                                <option _ngcontent-awu-c133="" value="Bahrain">Bahrain</option>
                                                <option _ngcontent-awu-c133="" value="Bangladesh">Bangladesh</option>
                                                <option _ngcontent-awu-c133="" value="Barbados">Barbados</option>
                                                <option _ngcontent-awu-c133="" value="Belarus">Belarus</option>
                                                <option _ngcontent-awu-c133="" value="Belgium">Belgium</option>
                                                <option _ngcontent-awu-c133="" value="Belize">Belize</option>
                                                <option _ngcontent-awu-c133="" value="Benin">Benin</option>
                                                <option _ngcontent-awu-c133="" value="Bermuda">Bermuda</option>
                                                <option _ngcontent-awu-c133="" value="Bhutan">Bhutan</option>
                                                <option _ngcontent-awu-c133="" value="Bolivia, Plurinational State of">
                                                    Bolivia, Plurinational State of</option>
                                                <option _ngcontent-awu-c133="" value="Bosnia and Herzegovina">Bosnia and
                                                    Herzegovina</option>
                                                <option _ngcontent-awu-c133="" value="Botswana">Botswana</option>
                                                <option _ngcontent-awu-c133="" value="Brazil">Brazil</option>
                                                <option _ngcontent-awu-c133="" value="British Indian Ocean Territory">
                                                    British Indian Ocean Territory</option>
                                                <option _ngcontent-awu-c133="" value="Brunei Darussalam">Brunei
                                                    Darussalam</option>
                                                <option _ngcontent-awu-c133="" value="Bulgaria">Bulgaria</option>
                                                <option _ngcontent-awu-c133="" value="Burkina Faso">Burkina Faso
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Burundi">Burundi</option>
                                                <option _ngcontent-awu-c133="" value="Cambodia">Cambodia</option>
                                                <option _ngcontent-awu-c133="" value="Cameroon">Cameroon</option>
                                                <option _ngcontent-awu-c133="" value="Canada">Canada</option>
                                                <option _ngcontent-awu-c133="" value="Cape Verde">Cape Verde</option>
                                                <option _ngcontent-awu-c133="" value="Cayman Islands">Cayman Islands
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Central African Republic">Central
                                                    African Republic</option>
                                                <option _ngcontent-awu-c133="" value="Chad">Chad</option>
                                                <option _ngcontent-awu-c133="" value="Chile">Chile</option>
                                                <option _ngcontent-awu-c133="" value="China">China</option>
                                                <option _ngcontent-awu-c133="" value="Christmas Island">Christmas Island
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Cocos (Keeling) Islands">Cocos
                                                    (Keeling) Islands</option>
                                                <option _ngcontent-awu-c133="" value="Colombia">Colombia</option>
                                                <option _ngcontent-awu-c133="" value="Comoros">Comoros</option>
                                                <option _ngcontent-awu-c133="" value="Congo">Congo</option>
                                                <option _ngcontent-awu-c133=""
                                                    value="Congo, The Democratic Republic of the Congo">Congo, The
                                                    Democratic Republic of the Congo</option>
                                                <option _ngcontent-awu-c133="" value="Cook Islands">Cook Islands
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Costa Rica">Costa Rica</option>
                                                <option _ngcontent-awu-c133="" value="Cote d'Ivoire">Cote d'Ivoire
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Croatia">Croatia</option>
                                                <option _ngcontent-awu-c133="" value="Cuba">Cuba</option>
                                                <option _ngcontent-awu-c133="" value="Cyprus">Cyprus</option>
                                                <option _ngcontent-awu-c133="" value="Czech Republic">Czech Republic
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Denmark">Denmark</option>
                                                <option _ngcontent-awu-c133="" value="Djibouti">Djibouti</option>
                                                <option _ngcontent-awu-c133="" value="Dominica">Dominica</option>
                                                <option _ngcontent-awu-c133="" value="Dominican Republic">Dominican
                                                    Republic</option>
                                                <option _ngcontent-awu-c133="" value="Ecuador">Ecuador</option>
                                                <option _ngcontent-awu-c133="" value="Egypt">Egypt</option>
                                                <option _ngcontent-awu-c133="" value="El Salvador">El Salvador</option>
                                                <option _ngcontent-awu-c133="" value="Equatorial Guinea">Equatorial
                                                    Guinea</option>
                                                <option _ngcontent-awu-c133="" value="Eritrea">Eritrea</option>
                                                <option _ngcontent-awu-c133="" value="Estonia">Estonia</option>
                                                <option _ngcontent-awu-c133="" value="Ethiopia">Ethiopia</option>
                                                <option _ngcontent-awu-c133="" value="Falkland Islands (Malvinas)">
                                                    Falkland Islands (Malvinas)</option>
                                                <option _ngcontent-awu-c133="" value="Faroe Islands">Faroe Islands
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Fiji">Fiji</option>
                                                <option _ngcontent-awu-c133="" value="Finland">Finland</option>
                                                <option _ngcontent-awu-c133="" value="France">France</option>
                                                <option _ngcontent-awu-c133="" value="French Guiana">French Guiana
                                                </option>
                                                <option _ngcontent-awu-c133="" value="French Polynesia">French Polynesia
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Gabon">Gabon</option>
                                                <option _ngcontent-awu-c133="" value="Gambia">Gambia</option>
                                                <option _ngcontent-awu-c133="" value="Georgia">Georgia</option>
                                                <option _ngcontent-awu-c133="" value="Germany">Germany</option>
                                                <option _ngcontent-awu-c133="" value="Ghana">Ghana</option>
                                                <option _ngcontent-awu-c133="" value="Gibraltar">Gibraltar</option>
                                                <option _ngcontent-awu-c133="" value="Greece">Greece</option>
                                                <option _ngcontent-awu-c133="" value="Greenland">Greenland</option>
                                                <option _ngcontent-awu-c133="" value="Grenada">Grenada</option>
                                                <option _ngcontent-awu-c133="" value="Guadeloupe">Guadeloupe</option>
                                                <option _ngcontent-awu-c133="" value="Guam">Guam</option>
                                                <option _ngcontent-awu-c133="" value="Guatemala">Guatemala</option>
                                                <option _ngcontent-awu-c133="" value="Guernsey">Guernsey</option>
                                                <option _ngcontent-awu-c133="" value="Guinea">Guinea</option>
                                                <option _ngcontent-awu-c133="" value="Guinea-Bissau">Guinea-Bissau
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Guyana">Guyana</option>
                                                <option _ngcontent-awu-c133="" value="Haiti">Haiti</option>
                                                <option _ngcontent-awu-c133="" value="Holy See (Vatican City State)">
                                                    Holy See (Vatican City State)</option>
                                                <option _ngcontent-awu-c133="" value="Honduras">Honduras</option>
                                                <option _ngcontent-awu-c133="" value="Hong Kong">Hong Kong</option>
                                                <option _ngcontent-awu-c133="" value="Hungary">Hungary</option>
                                                <option _ngcontent-awu-c133="" value="Iceland">Iceland</option>
                                                <option _ngcontent-awu-c133="" value="India">India</option>
                                                <option _ngcontent-awu-c133="" value="Indonesia">Indonesia</option>
                                                <option _ngcontent-awu-c133=""
                                                    value="Iran, Islamic Republic of Persian Gulf">Iran, Islamic
                                                    Republic of Persian Gulf</option>
                                                <option _ngcontent-awu-c133="" value="Iraq">Iraq</option>
                                                <option _ngcontent-awu-c133="" value="Ireland">Ireland</option>
                                                <option _ngcontent-awu-c133="" value="Isle of Man">Isle of Man</option>
                                                <option _ngcontent-awu-c133="" value="Israel">Israel</option>
                                                <option _ngcontent-awu-c133="" value="Italy">Italy</option>
                                                <option _ngcontent-awu-c133="" value="Jamaica">Jamaica</option>
                                                <option _ngcontent-awu-c133="" value="Japan">Japan</option>
                                                <option _ngcontent-awu-c133="" value="Jersey">Jersey</option>
                                                <option _ngcontent-awu-c133="" value="Jordan">Jordan</option>
                                                <option _ngcontent-awu-c133="" value="Kazakhstan">Kazakhstan</option>
                                                <option _ngcontent-awu-c133="" value="Kenya">Kenya</option>
                                                <option _ngcontent-awu-c133="" value="Kiribati">Kiribati</option>
                                                <option _ngcontent-awu-c133=""
                                                    value="Korea, Democratic People's Republic of Korea">Korea,
                                                    Democratic People's Republic of Korea</option>
                                                <option _ngcontent-awu-c133="" value="Korea, Republic of South Korea">
                                                    Korea, Republic of South Korea</option>
                                                <option _ngcontent-awu-c133="" value="Kuwait">Kuwait</option>
                                                <option _ngcontent-awu-c133="" value="Kyrgyzstan">Kyrgyzstan</option>
                                                <option _ngcontent-awu-c133="" value="Laos">Laos</option>
                                                <option _ngcontent-awu-c133="" value="Latvia">Latvia</option>
                                                <option _ngcontent-awu-c133="" value="Lebanon">Lebanon</option>
                                                <option _ngcontent-awu-c133="" value="Lesotho">Lesotho</option>
                                                <option _ngcontent-awu-c133="" value="Liberia">Liberia</option>
                                                <option _ngcontent-awu-c133="" value="Libyan Arab Jamahiriya">Libyan
                                                    Arab Jamahiriya</option>
                                                <option _ngcontent-awu-c133="" value="Liechtenstein">Liechtenstein
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Lithuania">Lithuania</option>
                                                <option _ngcontent-awu-c133="" value="Luxembourg">Luxembourg</option>
                                                <option _ngcontent-awu-c133="" value="Macao">Macao</option>
                                                <option _ngcontent-awu-c133="" value="Macedonia">Macedonia</option>
                                                <option _ngcontent-awu-c133="" value="Madagascar">Madagascar</option>
                                                <option _ngcontent-awu-c133="" value="Malawi">Malawi</option>
                                                <option _ngcontent-awu-c133="" value="Malaysia">Malaysia</option>
                                                <option _ngcontent-awu-c133="" value="Maldives">Maldives</option>
                                                <option _ngcontent-awu-c133="" value="Mali">Mali</option>
                                                <option _ngcontent-awu-c133="" value="Malta">Malta</option>
                                                <option _ngcontent-awu-c133="" value="Marshall Islands">Marshall Islands
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Martinique">Martinique</option>
                                                <option _ngcontent-awu-c133="" value="Mauritania">Mauritania</option>
                                                <option _ngcontent-awu-c133="" value="Mauritius">Mauritius</option>
                                                <option _ngcontent-awu-c133="" value="Mayotte">Mayotte</option>
                                                <option _ngcontent-awu-c133="" value="Mexico">Mexico</option>
                                                <option _ngcontent-awu-c133=""
                                                    value="Micronesia, Federated States of Micronesia">Micronesia,
                                                    Federated States of Micronesia</option>
                                                <option _ngcontent-awu-c133="" value="Moldova">Moldova</option>
                                                <option _ngcontent-awu-c133="" value="Monaco">Monaco</option>
                                                <option _ngcontent-awu-c133="" value="Mongolia">Mongolia</option>
                                                <option _ngcontent-awu-c133="" value="Montenegro">Montenegro</option>
                                                <option _ngcontent-awu-c133="" value="Montserrat">Montserrat</option>
                                                <option _ngcontent-awu-c133="" value="Morocco">Morocco</option>
                                                <option _ngcontent-awu-c133="" value="Mozambique">Mozambique</option>
                                                <option _ngcontent-awu-c133="" value="Myanmar">Myanmar</option>
                                                <option _ngcontent-awu-c133="" value="Namibia">Namibia</option>
                                                <option _ngcontent-awu-c133="" value="Nauru">Nauru</option>
                                                <option _ngcontent-awu-c133="" value="Nepal">Nepal</option>
                                                <option _ngcontent-awu-c133="" value="Netherlands">Netherlands</option>
                                                <option _ngcontent-awu-c133="" value="Netherlands Antilles">Netherlands
                                                    Antilles</option>
                                                <option _ngcontent-awu-c133="" value="New Caledonia">New Caledonia
                                                </option>
                                                <option _ngcontent-awu-c133="" value="New Zealand">New Zealand</option>
                                                <option _ngcontent-awu-c133="" value="Nicaragua">Nicaragua</option>
                                                <option _ngcontent-awu-c133="" value="Niger">Niger</option>
                                                <option _ngcontent-awu-c133="" value="Nigeria">Nigeria</option>
                                                <option _ngcontent-awu-c133="" value="Niue">Niue</option>
                                                <option _ngcontent-awu-c133="" value="Norfolk Island">Norfolk Island
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Northern Mariana Islands">Northern
                                                    Mariana Islands</option>
                                                <option _ngcontent-awu-c133="" value="Norway">Norway</option>
                                                <option _ngcontent-awu-c133="" value="Oman">Oman</option>
                                                <option _ngcontent-awu-c133="" value="Pakistan">Pakistan</option>
                                                <option _ngcontent-awu-c133="" value="Palau">Palau</option>
                                                <option _ngcontent-awu-c133="" value="Palestinian Territory, Occupied">
                                                    Palestinian Territory, Occupied</option>
                                                <option _ngcontent-awu-c133="" value="Panama">Panama</option>
                                                <option _ngcontent-awu-c133="" value="Papua New Guinea">Papua New Guinea
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Paraguay">Paraguay</option>
                                                <option _ngcontent-awu-c133="" value="Peru">Peru</option>
                                                <option _ngcontent-awu-c133="" value="Philippines">Philippines</option>
                                                <option _ngcontent-awu-c133="" value="Pitcairn">Pitcairn</option>
                                                <option _ngcontent-awu-c133="" value="Poland">Poland</option>
                                                <option _ngcontent-awu-c133="" value="Portugal">Portugal</option>
                                                <option _ngcontent-awu-c133="" value="Puerto Rico">Puerto Rico</option>
                                                <option _ngcontent-awu-c133="" value="Qatar">Qatar</option>
                                                <option _ngcontent-awu-c133="" value="Romania">Romania</option>
                                                <option _ngcontent-awu-c133="" value="Russia">Russia</option>
                                                <option _ngcontent-awu-c133="" value="Rwanda">Rwanda</option>
                                                <option _ngcontent-awu-c133="" value="Reunion">Reunion</option>
                                                <option _ngcontent-awu-c133="" value="Saint Barthelemy">Saint Barthelemy
                                                </option>
                                                <option _ngcontent-awu-c133=""
                                                    value="Saint Helena, Ascension and Tristan Da Cunha">Saint Helena,
                                                    Ascension and Tristan Da Cunha</option>
                                                <option _ngcontent-awu-c133="" value="Saint Kitts and Nevis">Saint Kitts
                                                    and Nevis</option>
                                                <option _ngcontent-awu-c133="" value="Saint Lucia">Saint Lucia</option>
                                                <option _ngcontent-awu-c133="" value="Saint Martin">Saint Martin
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Saint Pierre and Miquelon">Saint
                                                    Pierre and Miquelon</option>
                                                <option _ngcontent-awu-c133="" value="Saint Vincent and the Grenadines">
                                                    Saint Vincent and the Grenadines</option>
                                                <option _ngcontent-awu-c133="" value="Samoa">Samoa</option>
                                                <option _ngcontent-awu-c133="" value="San Marino">San Marino</option>
                                                <option _ngcontent-awu-c133="" value="Sao Tome and Principe">Sao Tome
                                                    and Principe</option>
                                                <option _ngcontent-awu-c133="" value="Saudi Arabia">Saudi Arabia
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Senegal">Senegal</option>
                                                <option _ngcontent-awu-c133="" value="Serbia">Serbia</option>
                                                <option _ngcontent-awu-c133="" value="Seychelles">Seychelles</option>
                                                <option _ngcontent-awu-c133="" value="Sierra Leone">Sierra Leone
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Singapore">Singapore</option>
                                                <option _ngcontent-awu-c133="" value="Slovakia">Slovakia</option>
                                                <option _ngcontent-awu-c133="" value="Slovenia">Slovenia</option>
                                                <option _ngcontent-awu-c133="" value="Solomon Islands">Solomon Islands
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Somalia">Somalia</option>
                                                <option _ngcontent-awu-c133="" value="South Africa">South Africa
                                                </option>
                                                <option _ngcontent-awu-c133=""
                                                    value="South Georgia and the South Sandwich Islands">South Georgia
                                                    and the South Sandwich Islands</option>
                                                <option _ngcontent-awu-c133="" value="Spain">Spain</option>
                                                <option _ngcontent-awu-c133="" value="Sri Lanka">Sri Lanka</option>
                                                <option _ngcontent-awu-c133="" value="Sudan">Sudan</option>
                                                <option _ngcontent-awu-c133="" value="Suriname">Suriname</option>
                                                <option _ngcontent-awu-c133="" value="Svalbard and Jan Mayen">Svalbard
                                                    and Jan Mayen</option>
                                                <option _ngcontent-awu-c133="" value="Swaziland">Swaziland</option>
                                                <option _ngcontent-awu-c133="" value="Sweden">Sweden</option>
                                                <option _ngcontent-awu-c133="" value="Switzerland">Switzerland</option>
                                                <option _ngcontent-awu-c133="" value="Syrian Arab Republic">Syrian Arab
                                                    Republic</option>
                                                <option _ngcontent-awu-c133="" value="Taiwan">Taiwan</option>
                                                <option _ngcontent-awu-c133="" value="Tajikistan">Tajikistan</option>
                                                <option _ngcontent-awu-c133=""
                                                    value="Tanzania, United Republic of Tanzania">Tanzania, United
                                                    Republic of Tanzania</option>
                                                <option _ngcontent-awu-c133="" value="Thailand">Thailand</option>
                                                <option _ngcontent-awu-c133="" value="Timor-Leste">Timor-Leste</option>
                                                <option _ngcontent-awu-c133="" value="Togo">Togo</option>
                                                <option _ngcontent-awu-c133="" value="Tokelau">Tokelau</option>
                                                <option _ngcontent-awu-c133="" value="Tonga">Tonga</option>
                                                <option _ngcontent-awu-c133="" value="Trinidad and Tobago">Trinidad and
                                                    Tobago</option>
                                                <option _ngcontent-awu-c133="" value="Tunisia">Tunisia</option>
                                                <option _ngcontent-awu-c133="" value="Turkey">Turkey</option>
                                                <option _ngcontent-awu-c133="" value="Turkmenistan">Turkmenistan
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Turks and Caicos Islands">Turks
                                                    and Caicos Islands</option>
                                                <option _ngcontent-awu-c133="" value="Tuvalu">Tuvalu</option>
                                                <option _ngcontent-awu-c133="" value="Uganda">Uganda</option>
                                                <option _ngcontent-awu-c133="" value="Ukraine">Ukraine</option>
                                                <option _ngcontent-awu-c133="" value="United Arab Emirates">United Arab
                                                    Emirates</option>
                                                <option _ngcontent-awu-c133="" value="United Kingdom">United Kingdom
                                                </option>
                                                <option _ngcontent-awu-c133="" value="United States">United States
                                                </option>
                                                <option _ngcontent-awu-c133="" value="Uruguay">Uruguay</option>
                                                <option _ngcontent-awu-c133="" value="Uzbekistan">Uzbekistan</option>
                                                <option _ngcontent-awu-c133="" value="Vanuatu">Vanuatu</option>
                                                <option _ngcontent-awu-c133=""
                                                    value="Venezuela, Bolivarian Republic of Venezuela">Venezuela,
                                                    Bolivarian Republic of Venezuela</option>
                                                <option _ngcontent-awu-c133="" value="Vietnam">Vietnam</option>
                                                <option _ngcontent-awu-c133="" value="Virgin Islands, British">Virgin
                                                    Islands, British</option>
                                                <option _ngcontent-awu-c133="" value="Virgin Islands, U.S.">Virgin
                                                    Islands, U.S.</option>
                                                <option _ngcontent-awu-c133="" value="Wallis and Futuna">Wallis and
                                                    Futuna</option>
                                                <option _ngcontent-awu-c133="" value="Yemen">Yemen</option>
                                                <option _ngcontent-awu-c133="" value="Zambia">Zambia</option>
                                                <option _ngcontent-awu-c133="" value="Zimbabwe">Zimbabwe</option><!---->
                                            </select></div>
                                    </div>
                                    <div _ngcontent-awu-c133="" class="col-md-8 mt-1">
                                        <div _ngcontent-awu-c133="" class="row">
                                            <div _ngcontent-awu-c133="" class="col-12 col-md-12"><label  style="font-weight: 400; font-size: 14px;"
                                                    _ngcontent-awu-c133="" pattern="^-?(0|[1-9]\d*)?$" for="username"
                                                    class="text-size-13 font-weight-400">Phone Number</label></div>
                                            <div _ngcontent-awu-c133="" class="col-3 col-md-4 pr-0">
                                                <div _ngcontent-awu-c133="" class="form-group position-relative"><input
                                                        _ngcontent-awu-c133="" type="text" placeholder="+91"
                                                        name="bindDialCode"
                                                        class="form-control ng-untouched ng-pristine ng-valid"></div>
                                            </div>
                                            <div _ngcontent-awu-c133="" class="col-9 col-md-8 pl-0">
                                                <div _ngcontent-awu-c133="" class="form-group position-relative"><input
                                                        _ngcontent-awu-c133="" type="text" name="phone" id="usedId "
                                                        maxlength="15" placeholder="Enter Mobile Number "
                                                        required=""
                                                        class="form-control text-size-13 ng-untouched ng-pristine ng-invalid"><span
                                                        _ngcontent-awu-c133="" class="form-icon text-size-12"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div _ngcontent-awu-c133="" class="row mt-2">
                                    <div _ngcontent-awu-c133="" class="col-md-12">
                                        <div _ngcontent-awu-c133="" class="form-group position-relative"><label style="font-weight: 400; font-size: 14px;"
                                                _ngcontent-awu-c133="" for="password"
                                                class="text-size-13 font-weight-400">Refer Code</label><input
                                                _ngcontent-awu-c133="" type="text" name="ReferCode" required=""
                                                class="form-control mt-1 ng-pristine ng-invalid ng-touched"></div>
                                    </div>
                                </div>

                                
                                <div class="form-group">
                                    <div class="checkbox  d-flex align-items-top justify-content-between">
                                        <div>
                                        <input id="checkbox1" type="checkbox" class="me-2">
                                    </div>
                                    <div>
                                        <label  style="font-weight: 400; font-size: 14px;" class="text-muted" for="checkbox1">
                                            I accept the Terms & Conditions , Product Statement And Execution Risks<a class="ms-2" href="#">Privacy
                                                Policy</a></label>
                                            </div>
                                    </div>
                                    <button class="btn btn-primary btn-block w-100 mt-3" type="submit">Create Account</button>
                                </div>
                                
                                <div class="d-flex align-items-center justify-content-between">
                                <div>
                                <h6  style="font-weight: 500; font-size: 14px;"class="text-muted mt-4 or">Or signup with</h6>
                            </div>
                            <!-- <div><hr></div> -->
                        </div>
                            
                                <div class="social align-items-center justify-content-between mt-4">
                                    <div class="btn-showcase"><a class="btn btn-light" href="https://www.linkedin.com/login"
                                            target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-linkedin txt-linkedin">
                                                <path
                                                    d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
                                                </path>
                                                <rect x="2" y="9" width="4" height="12"></rect>
                                                <circle cx="4" cy="4" r="2"></circle>
                                            </svg> LinkedIn </a><a class="btn btn-light" href="https://www.facebook.com/"
                                            target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-facebook txt-fb">
                                                <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z">
                                                </path>
                                            </svg>facebook</a></div>
                                </div>
                                <p style="font-weight: 500; font-size: 15px;" class="mt-4 mb-0">Already have an account?<a class="ms-2" href="/login_home">Sign in</a>
                                </p>
                            </div>

  
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>