
<div class="pagebody">
    <div class="container-fluid p-0">
       <div class="tableOne">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr (dblclick)="navigate('firewall')">
                <td><span><img class="table-img" src="assets/images/sideimg/mt-icons8.png"> Firewall </span></td>
                <td>Manage firewall used for controlling of access to the server</td>
              </tr>
            </tbody>
          </table>
       </div>
    </div>
    </div>